<!doctype html>
<html>
  <head>
    <title> What is your spirit animal? </title>
  </head>
  
  <body>
    <h1> What is your spirit animal? </h1>
      <h2> Are you... </h2>
    <form>
      <input type="radio" name="movement" value="lazy" checked>lazy
      <br>
      <input type="radio" name="movement" value="active">active
      <br>
      <br>
      <input type="radio" name="food" value="carnivore">carnivore
      <br>
      <input type="radio" name="food" value="omnivore">omnivore
      <br>
      <input type="radio" name="food" value="vegetarian">vegetarian
      <br>
      <input type="radio" name="food" value="seafood">seafood
      <br>
      <br>
      <input type="radio" name="food" value="small">small
      <br>
      <input type="radio" name="food" value="average">average
      <br>
      <iput type="radio" name="food" value="large">large
       <br>
        
    </form>
      
  </body>
  
  
  
  
  
  
</html>